<div class="gallery">

  <!-- FILTERS -->
  <div class="filters" *ngIf="categories.length">
    <button
      (click)="setFilter('all')"
      [class.active]="activeFilter === 'all'"
    >
      Tous
    </button>

    <button
      *ngFor="let c of categories"
      (click)="setFilter(c)"
      [class.active]="activeFilter === c"
    >
      {{ c | titlecase }}
    </button>
  </div>

  <!-- GRID -->
  <div class="grid">
    <div
      class="card"
      *ngFor="let item of filteredItems"
      (click)="open(item)"
    >
      <img [src]="item.image" />

      <div class="overlay">
        <h3>{{ item.title }}</h3>
        <span>{{ item.category | titlecase }}</span>
        <i class="fa-solid fa-magnifying-glass-plus"></i>
      </div>
    </div>
  </div>

</div>

<!-- LIGHTBOX -->
<div class="lightbox" *ngIf="lightboxItem" (click)="close()">

  <button class="close" (click)="close(); $event.stopPropagation()">✕</button>

  <button class="nav left" (click)="prev(); $event.stopPropagation()">‹</button>

  <div class="box" (click)="$event.stopPropagation()">
    <img [src]="lightboxItem.image" />
    <div class="caption">
      <h3>{{ lightboxItem.title }}</h3>
      <span>{{ lightboxItem.category | titlecase }}</span>
    </div>
  </div>

  <button class="nav right" (click)="next(); $event.stopPropagation()">›</button>

</div>